{% extends 'base.html' %}
{% load static %}

{% block page-main %}

    <section class="banner-section">
        <div class="banner-slider">
            <div class="sinlge-banner">
                <div class="banner-wrapper">
                    <div class="banner-bg" style="background-image: url({% static '/assets/images/1.png' %});"></div>
                    <div class="banner-content" data-animation="fadeInUp" data-delay="0.3s">
                        <h3 class="title" data-animation="fadeInUp" data-delay="0.6s">
                            <a href="#">
                                COVID-19 Navigation
                            </a>
                        </h3>
                        <ul class="meta" data-animation="fadeInUp" data-delay="0.8s">
                            <li><a href="/distribution">COVID Distribution</a></li>
                        </ul>
                        <p data-animation="fadeInUp" data-delay="1s">
                            &nbsp; &nbsp; &nbsp;Distribution, displays the COVID-19 cases on the corresponding map after
                            appropriate privacy processing, mark and explain.Facilitate a more intuitive
                            understanding of the
                            current situation.
                        </p>
                        <a href="/distribution" class="read-more" data-animation="fadeInUp" data-delay="1.2s">
                            Jump To <i class="fas fa-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="sinlge-banner">
                <div class="banner-wrapper">
                    <div class="banner-bg" style="background-image: url({% static '/assets/images/2.png' %});"></div>
                    <div class="banner-content" data-animation="fadeInUp" data-delay="0.3s">
                        <h3 class="title" data-animation="fadeInUp" data-delay="0.6s">
                            <a href="#">
                                COVID-19 Navigation
                            </a>
                        </h3>
                        <ul class="meta" data-animation="fadeInUp" data-delay="0.8s">
                            <li><a href="/route">Route Planning</a></li>
                        </ul>
                        <p data-animation="fadeInUp" data-delay="1s">
                            &nbsp; &nbsp; &nbsp; Route Planning, plan the route between two locations in Shanghai, providing a short path and a safer path by
                            bypassing the dangerous area based on the current distribution od COVID-19 cases.
                        </p>
                        <a href="/route" class="read-more" data-animation="fadeInUp" data-delay="1.2s">
                            Jump To <i class="fas fa-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="sinlge-banner">
                <div class="banner-wrapper">
                    <div class="banner-bg" style="background-image: url({% static '/assets/images/1.png' %});"></div>
                    <div class="banner-content" data-animation="fadeInUp" data-delay="0.3s">
                        <h3 class="title" data-animation="fadeInUp" data-delay="0.6s">
                            <a href="#">
                                COVID Navigation
                            </a>
                        </h3>
                        <ul class="meta" data-animation="fadeInUp" data-delay="0.8s">
                            <li><a href="/add_points">Risk Points</a></li>
                        </ul>
                        <p data-animation="fadeInUp" data-delay="1s">
                            &nbsp; &nbsp; &nbsp;Risk point upload, support users to enter COVID-19 cases information
                        </p>
                        <a href="/add_points" class="read-more" data-animation="fadeInUp" data-delay="1.2s">
                            Jump To <i class="fas fa-long-arrow-right"></i>
                        </a></div>
                </div>
        </div>
        </div>
        <div class="banner-nav"></div>

    </section>

{% endblock %}
